<header>
  <h1><a href="index.html" id="logo"><img src="assets/images/logo.png"/></a></h1>
  <nav>
    <ul id="top_nav">
      <li><a href="index.html"><img src="assets/images/icon_1.gif" alt=""></a></li>
      <li><a href="#"><img src="assets/images/icon_2.gif" alt=""></a></li>
      <li class="end"><a href="Contacts.html"><img src="assets/images/icon_3.gif" alt=""></a></li>
    </ul>
  </nav>
  <nav>
    <ul id="menu">
      <li class="active"><a href="index.html">Restaurant</a></li>
      <li><a href="Cuisine.html">Cuisine</a></li>
      <li><a href="Wine.html">Wine List</a></li>
      <li><a href="CookBook.html">CookBook</a></li>
      <li><a href="Contacts.html">Contacts</a></li>
    </ul>
  </nav>
</header>